#shapeRed {
  position: absolute;
  top: 50px;
  left: 400px;
  width: 300px;
  height: 300px;
  border-radius: 0 300px 0 0;
  background-color: red;
}

#shapeRed:hover {
  cursor: pointer;
  background-color: white;
}

#shapeBlue {
  position: absolute;
  top: 375px;
  left: 400px;
  width: 300px;
  height: 300px;
  border-radius: 0 0 300px 0;
  background-color: blue;
}

#shapeBlue:hover {
  cursor: pointer;
  background-color: white;
}

#shapeGreen {
  position: absolute;
  top: 50px;
  left: 75px;
  width: 300px;
  height: 300px;
  border-radius: 300px 0 0 0;
  background-color: green;
}

#shapeGreen:hover {
  cursor: pointer;
  background-color: white;
}

#shapeYellow {
  position: absolute;
  top: 375px;
  left: 75px;
  width: 300px;
  height: 300px;
  border-radius: 0 0 0 300px;
  background-color: yellow;
}

#shapeYellow:hover {
  cursor: pointer;
  background-color: white;
}

#backShape {
  position: absolute;
  background-color: black;
  width: 705px;
  height: 705px;
  top: 10px;
  border-radius: 50%;
  left: 35px;
}

#centerCircle {
  position: absolute;
  width: 305px;
  height: 305px;
  background-color: white;
  border: 30px solid black;
  border-radius: 50%;
  z-index: 1;
  left: 235px;
  top: 205px;
}

.noSelect {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}

#label {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  left: 350px;
  top: 260px;
}

#display {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
  text-align: center;
  left: 290px;
  top: 320px;
  z-index: 2;
  line-height: 60px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(170, 170, 170);
}


.circleLabel {
  border: 1px solid black;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 3;
  left: 380px;
  top: 330px;
  border-radius: 50%;
  cursor: pointer;
}

.circleLabel:hover {
  background-color: red;
}


.strictLabel {
  left: 440px;
}

.startLabel {
  position: absolute;
  z-index: 3;
  left: 368px;
  top: 355px;
  border-radius: 50%;
}

.strict {
  left: 430px;
}

.onoffswitch {
  position: absolute;
  left: 340px;
  top: 400px;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 4;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  padding: 0;
  line-height: 30px;
  border: 2px solid #999999;
  border-radius: 30px;
  background-color: #A6A6A6;
  transition: background-color 0.3s ease-in;
}

.onoffswitch-label:before {
  content: "";
  display: block;
  width: 30px;
  margin: 0px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 58px;
  border: 2px solid #999999;
  border-radius: 30px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
  background-color: #CCCCCC;
}

.onoffswitch-checkbox:checked+.onoffswitch-label, .onoffswitch-checkbox:checked+.onoffswitch-label:before {
  border-color: #CCCCCC;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
  right: 0px;
}


.switchLabel{
  position: absolute;
  z-index: 5;
  left: 310px;
  top: 405px;
  border-radius: 50%;
}

.switchLabelOn{
  z-index: 5;
  left: 435px;
}
